<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      
      <link rel="stylesheet" href="css/bootstrap-reboot.css">
      <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-grid.css">
      <link rel="stylesheet" href="css/bootstrap-grid.css.map">
      <link rel="stylesheet" href="css/bootstrap-grid.min.css">
      <link rel="stylesheet" href="css/bootstrap-grid.min.css.map">
      <link rel="stylesheet" href="css/bootstrap-reboot.css">
      <link rel="stylesheet" href="css/bootstrap-reboot.css.map">
      <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
      <link rel="stylesheet" href="css/bootstrap-reboot.min.css.map">
      <link rel="stylesheet" href="css/bootstrap.css.map">
      <link rel="stylesheet" href="css/bootstrap.min.css.map">
    
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        
      <link rel="stylesheet" href="css/my_css/custom_style.css">
      
    </head>
    <body>
        
    <div class="container-fluid"><!--container starts-->
        
        <!--header starts-->
          <div class="row header_bg_color">
           
              <div class="col-lg-2 offset-lg-5 col-md-2 offset-md-5 col-sm-2 offset-sm-5 sign_up_img">
                  <!--<div class="sign_up_img">-->
                      <div class="text-center">
                      <img src="images/sign_in_img.png" class="img-fluid">
                      </div>
                  <!--</div>-->
              </div>
           
          </div>
        
        <!--header ends-->
        
      <!--body starts-->
        
            <div class="row"><!--row starts-->
                      
                <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">

                    <form class="custom-form">

                          <div class="form-group" ng-class="{'not-empty': passWord.length}">

                                <input type="email" class="form-control email_text_box" name="pass" placeholder="Email" id="pass" ng-model="passWord"/>

                          </div>

                          <div class="form-group" ng-class="{'not-empty': passWord.length}">
                              
                                <input type="password" class="form-control password_text_box" name="pass" placeholder="Password" id="pass" ng-model="passWord"/>

                          </div>
                        
                          <div class="submit">

                              <button class="btn btn-primary btn-block btnsign_up_style">Sign In</button>
                             
                              
                          </div>
                    <div>
                                
                        <a href="#"><p class="forgot_pas_text" data-toggle="modal" data-target="#myModal">Forgot Password</p></a>
                              
                   </div>
                        
                    </form>

              </div>
                
            </div><!--row ends-->

                    <!--modal code starts-->

                      <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">

                            <!-- Modal Header -->
                            <div>
                                <center><h5 class="modal-title forgot_pas_modal"><b>Forgotten Password</b></h5></center><br>
                                <center><p class="enter_email_modal">Please enter your email address</p></center>
                            </div>

                            <!-- Modal body starts-->
                            <div class="modal-body">

                              <div class="form-group" ng-class="{'not-empty': passWord.length}">

                                <input type="email" class="form-control email_txt_box_modal" name="pass" placeholder="Email Address" id="pass" ng-model="passWord"/>

                              </div>
                            </div>
                              <!-- Modal body ends-->

                            <center>
                                <button class="btn btn_submit_modal"  data-dismiss="modal" data-toggle="modal" data-target="#second_modal">Submit</button>
                            </center>

                          </div>
                        </div>
                      </div>

                    <!--modal code ends-->
        
            <!--second modal code starts here-->
        
         <div class="modal fade" id="second_modal">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              
                            <!-- Modal body starts-->
                            <div class="modal-body">
                                
                                <center><p>Please check your email <br> the link has been sent to your email</p></center>
                                <center><p class="email_sender_name">abc@xyz.com</p></center>
                                
                            </div>
                              <!-- Modal body ends-->

                                <center><button class="btn btn_submit_modal">Submit</button></center>

                          </div>
                        </div>
                      </div>
        
           <!--second modal code ends here-->
        
          <div class="row">
                      
             <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4">

              <a href="#"><p class="already_acount_text">Don't have acoount?</p></a>

              <a href="#"><p class="sign_in_text">Sign Up</p></a>

             </div>
                      
           </div>
        
        
        
        
     <!--body ends-->
        
        
         <!--footer starts -->
        
       <div class="row"><!--row starts-->
              <div class="col-lg-12"><!--column starts-->
                   
              <!--<div class="col-lg-2 offset-lg-5 col-md-2 offset-md-5 col-sm-2 offset-sm-5 sign_up_img">-->
                  
                    <div class="foooter_block"><!--header block starts-->
                       <hr class="footer_hr">
                    </div> <!--header block ends--> 
                
              </div><!--column ends-->
          
       </div><!--row ends-->
          
        <div class="row"><!--row starts-->
           
            <div class="col-lg-2 offset-lg-5 all_rights_block">
                  <div class="text-center"><p>&copy; Copyrights 2018. All Rights Reserved.</p></div>
              </div><!--column ends-->
          
          </div><!--row ends-->
      
      <!--footer ends-->
        
    </div><!--end of container-->
        
    
     <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      
      <script src="js/bootstrap.js"></script>
      <script src="js/bootstrap.min.js"></script>
     
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
        <!--script for modal starts-->
        
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
        <!--script for modal ends-->
    </body>
</html>