[class*="col"]
{
    border:1px solid red;
}

[class*="row"]
{
    border:1px solid red;
}

/*header footer starts*/

.foooter_block
{
    width: 100%;
    margin-top: 100px;
}

.footer_hr
{
    width:80%;
}

.header_bg_color
{
    background: linear-gradient(#26AEC6, #2CC6A2);
}

.a_budg_calc_header
{
    background-color: #26AEC6;
}

.sign_up_img
{
    margin-bottom: 50px;
    margin-top: 50px;

}
.all_rights_block
{
    font-size: 12px;
}


.forgot_pas_text
{
    color: #26AEC6;
    font-size: 15px;
    margin-top: 15px;

}

.custom-form
{

font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
max-width: 360px;
margin: 40px auto 40px;
background: #fff;
padding: 40px;
border-radius: 4px;
.btn-primary 
{
background-color: #8e44ad;
order-color: #8e44ad;
}

.form-group
{
position: relative;
padding-top: 16px;
margin-bottom: 16px;
.animated-label
{
position: absolute;
top: 20px;
left: 0;
bottom: 0;
z-index: 2;
width: 100%;
font-weight: 300;
opacity: 0.5;
cursor: text;
transition: 0.2s ease all;
margin: 0;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
&:after
{
content: '';
position: absolute;
bottom: 0;
left: 45%;
height: 2px;
width: 10px;
visibility: hidden;
background-color:#8e44ad;
transition: 0.2s ease all;
}
}
&.not-empty 
{
.animated-label
{
top: 0;
font-size: 12px;
}
}
.form-control
{
position: relative;
z-index: 1;
border-radius: 0;
/*border-width: 0 0 1px;*/
/*border-bottom-color: rgba(0,0,0,0.25);*/
height: auto;
padding: 3px 0 5px;
&:focus
{
box-shadow: none;
/*border-bottom-color: rgba(0,0,0,0.12);*/
~ .animated-label
  {
top: 0;
opacity: 1;
color: #8e44ad;
font-size: 12px;
&:after
      {
visibility: visible;
width: 100%;
left: 0;
}
}
}
}
}
}
.this_includes
{
    color: #fff;
    font-size: 14px;
}

.u_should_spend_txt
{
    color: #fff;
    font-size: 22px;
    margin-top: -20px;
}

.sign_in_text
{
    text-align: center;
    color: #26AEC6;
    font-size: 20px;
}

.sign_up_text
{
    text-align: center;
    color: #26AEC6;
    font-size: 20px;
}

.already_acount_text
{
    text-align: center;
    color: #787878;
    margin-top: -50px;
    font-size: 20px;
}

.name_text_box 
{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #696969;
}

.email_text_box
{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #696969;
}

.num_text_box
{
    margin-top: 100px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #696969;
    font-size: 20px;
}

.password_text_box
{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #696969;

}

.sign_up_block
{
    margin-top: 40px;
}

.dont_have_acount_text
{
    text-align: center;
    color: #787878;
    margin-top: -50px;
    font-size: 20px;
}
.btn_fb_g
{
    background-color: #26AEC6;
    border: none;
    height: 65px;
    font-size: 20px;
    border-radius: 8px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 20px; 
}

/*sign in social buttons code starts*/

.fa
{
    padding: 20px;
    border: none !important;
}

.fa-facebook
{
    margin-top: 20px;
    background: #3B5998;
    color: white;
    border-radius: 8px;
    font-size: 20px;  
}

.fa-facebook:focus,.fa-facebook:active
{
   box-shadow: none !important;  
}

.fa-google
{
    margin-top: 70px;
    background: #dd4b39;
    color: white;
    border-radius: 8px;
    font-size: 20px;
}

.fa-google:focus,.fa-google:active
{
    box-shadow: none !important; 
}

/*.btn_plus:focus,.btn_plus:active,.btn_plus:hover*/

.btn_sign_up_style
{
    background-color: #26AEC6;
    border: none;
    height: 65px;
    border-radius: 8px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    margin-bottom: 100px;
    font-size: 22px;
}

.btn_sign_up_style:hover,.btn_sign_up_style:focus,.btn_sign_up_style:active
{
    background-color: #26AEC6 !important;
    box-shadow: none !important; 
}

.fb_btn_sign_in
{
    margin-bottom: 20px;
    border-color:  #3b5998 !important;
    background-color: #3b5998 !important;
}

.fb_btn_sign_in:hover,.fb_btn_sign_in:focus,.fb_btn_sign_in:active
{
    border-color:  #3b5998 !important;
   
}

.g_btn_sign_in
{
    background-color: #db3236 !important;
}

.g_btn_sign_in:hover,.g_btn_sign_in:focus,.g_btn_sign_in:active
{
    /*background-color: #db3236;*/
    outline: none !important;
}

.monthly_budget_text
{
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
}

.btn_next
{
height: 75px;
width: 75px;
background-color: #2BC5A3;
border-radius: 100px;
border: none;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
color: #fff;
font-size: 60px;
padding-top: 7px;
margin-top: 30px;
padding-right: 15px;
margin-top: 20px;
}

.budget_calc_text
{
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
}

.taxes_text
{
    color: #2BBDB0;
    margin-top: 50px;
    font-size: 17px;
}

.txt_num_b_budg_calc
{
    margin-top: 70px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #696969;
    font-size: 20px;
}

.a_budget_text
{
    color: #26AEC6;
    font-size: 20px;
    margin-top: 50px;
}

.btn_tell_me
{
    margin-top: 50px;
    border-color: #2CC6A2;
    background-color: #fff;
    color: #58C4C7;
    border: solid #2CC6A2;
}

.btn_tell_me:hover,.btn_tell_me:active,.btn_tell_me:focus
{
    box-shadow: none !important;
    background-color: #fff !important;
    color: #58C4C7 !important;
    border: solid #2CC6A2;
    border-color: #2CC6A2 !important;
}

.btn_i_dont_need
{
    margin-top: 50px;
    border-color: #2CC6A2;
    background-color: #58C4C7;
    color: #fff;
    border: solid #2CC6A2;
    margin-bottom: 100px;
}

.btn_i_dont_need:hover,.btn_i_dont_need:active,.btn_i_dont_need:focus
{
    box-shadow: none !important;
    background-color: #58C4C7 !important;
    color: #fff;
    border: solid #2CC6A2;
    border-color: #2CC6A2 !important;
}

.btnsign_up_style
{
    background-color: #58C4C7;
    border: none;
    height: 50px;
    font-weight: 1000px;
}

.btnsign_up_style:hover,.btnsign_up_style:active,.btnsign_up_style:focus
{
    background-color: #26AEC6 !important;
    box-shadow: none !important;
}

.a_budg_calc_num_txt
{
     color: #58C4C7;
     font-weight: bold;
     font-size: 60px;
}
.month_txt
{
     font-size: 25px;
     color: #58C4C7;
}

 .btn_plus
{
    margin-top: 50px;
    background-color: #fff;
    border: solid #2CC6A2;
    font-size: 20px;
    color: #2CC6A2;
}

.btn_plus:focus,.btn_plus:active,.btn_plus:hover
 {
    margin-top: 50px;
    background-color: #fff;
    border: solid #2CC6A2;
    font-size: 20px;
    color: #2CC6A2;
    background-color: #fff !important;
    border: solid #2CC6A2 !important;
 }

.btn_minus
{
    margin-top: 50px;
    background-color: #fff;
    border: solid #2CC6A2;
    font-size: 20px;
    color: #2CC6A2;
}
.btn_minus:focus,.btn_minus:active,.btn_minus:hover
 {
    margin-top: 50px;
    background-color: #fff;
    border: solid #2CC6A2;
    font-size: 20px;
    color: #2CC6A2;
    background-color: #fff !important;
    border: solid #2CC6A2 !important;
 }

 .btn_r_u_looking
 {
    border: none;
    border-radius: 30px;
    box-shadow:10px 10px 10px #DCDCDC;
    background-color: #fff;
    color: #26AEC7; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
     bottom: 20px;
 }
 .btn_r_u_looking:hover
 {
    border: none;
    border-radius: 30px;
    box-shadow:10px 10px 10px #DCDCDC;
    color: #58C4C7; 
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    background-color: #fff;
 }
 .btn_r_u_looking:active,.btn_r_u_looking:focus
 {
     border: none !important;
     border-color: #fff !important;
     background-color: #fff !important;
     box-shadow:10px 10px 10px #DCDCDC !important;
 }


 .condo
{
    width: 100px;
    height: 120px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:10px 10px 10px #DCDCDC;
    float: left;
    margin-top: 50px;
    margin-right: 20px;
}
.house
{
    width: 120px;
    height: 120px;
    background-color: #58C4C7;
    border-radius: 5px;
    box-shadow:10px 10px 10px #DCDCDC;
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

.btn_grp_margin
{
margin-top: -50px;
}

 .b_budg_calc_foooter_block
{
    width: 100%;
    margin-top: 150px;
}
.c_budg_calc_btn_next
{
    height: 75px;
    width: 75px;
    background-color: #2BC5A3;
    border-radius: 100px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #fff;
    font-size: 60px;
    padding-top: 7px;
    margin-top: 30px;
    padding-right: 15px;
    margin-top: 30px;
}
 .c_form_footer_block
{
  width: 100%;
  margin-top: 200px;
}
 .condo_house_block
 {
     margin-top: 100px;
 }

.buy_a_home
{
    margin-top: 50px;
    border-color: #2CC6A2;
    background-color: #58C4C7;
    color: #fff;
    border: solid #2CC6A2;
    height: 70px;
}
.buy_a_home:hover,.buy_a_home:active,.buy_a_home:focus
{
    box-shadow: none !important;
    background-color: #58C4C7 !important;
    color: #fff;
    border: solid #2CC6A2;
    border-color: #2CC6A2 !important;
    height: 70px;
}


.welcom_img_2
{
  margin-top: 40px;
}
                          
.hr_align
{
  margin-top: 30px;
}


.finding_home_txt
{
  color: #fff;
  font-size: 25px;
  margin-top: 40px;
}
 .find_place
{
    margin-top: 50px;
    border-color: #2CC6A2;
    background-color: #fff;
    color: #58C4C7;
    border: solid #2CC6A2;
    height: 70px;
}
.find_place:hover,.find_place:active,.find_place:focus
{
    box-shadow: none !important;
    background-color: #fff !important;
    color: #58C4C7 !important;
    border: solid #2CC6A2;
    border-color: #2CC6A2 !important;
    height: 70px;
}
 .make_investment
{
    margin-top: 50px;
    border-color: #2CC6A2;
    background-color: #fff;
    color: #58C4C7;
    border: solid #2CC6A2;
    height: 70px;
}
.make_investment:hover,.make_investment:active,.make_investment:focus
{
    box-shadow: none !important;
    background-color: #fff !important;
    color: #58C4C7 !important;
    border: solid #2CC6A2;
    border-color: #2CC6A2 !important;
    height: 70px;
}

 .a_form_footer_block
{
  width: 100%;
  margin-top: 30px;
}

.email_sender_name
{
    color: #51C4D0;
    font-size: 20px;
}

.btn_submit_modal
{
    background-color: #51C4D0;
    border: none;
    height: 50px;
    font-weight: 1000px;
    color: #fff;
    margin-bottom: 20px;
    width: 250px;
    font-size: 20px;
}

.btn_submit_modal:hover,.btn_submit_modal:active,.btn_submit_modal:focus
{
    background-color: #51C4D0 !important;
    box-shadow: none !important;
}

 .email_txt_box_modal
{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #696969; 
}

 .forgot_pas_modal
{
   color: #484848;
    margin-top: 20px;
}
.enter_email_modal
{
    color: #484848;
    margin-top: -20px;
}
   
.welcome_hr_block
{
  width: 100%;
  margin-top: 30px;
}

.welcome_hr
{
    width:80%;
}
.env_img
{
    margin-top: 20px;
    margin-left: 10px;
}

.home_simple_txt
 {
     color: #fff;
     margin-top: 20px;
     margin-left: -25px;
     font-size: 20px;
 }


 
.welcom_img
{
  margin-top: 20px;
}



 .btn_save
{
    height: 70px;
    margin-top: 50px;
    border-color: #2CC6A2;
    background-color: #58C4C7;
    color: #fff;
    border: solid #2CC6A2;
    margin-bottom: 100px;
    font-size: 25px;
}

.btn_save:hover,.btn_save:active,.btn_save:focus
{
    box-shadow: none !important;
    background-color: #58C4C7 !important;
    color: #fff;
    border: solid #2CC6A2;
    border-color: #2CC6A2 !important;
}



  .txt_num_b_budg_calc
{
    margin-top: 70px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #696969;
    font-size: 20px;
    box-shadow: none;
}

.txt_num_b_budg_calc:focus,.txt_num_b_budg_calc:active
 {
     box-shadow: none;
     border-bottom-color: black;
 }

.save_search_footer
{
   width: 100%;
   margin-top: -80px;
}
.save_search_all_rights_block
{
    font-size: 12px;
    margin-top: -50px;
}

 .save_search_budget_text
 {
     margin-top: 30px;
 }

 .btn_back
{
    font-size:40px;
    color: #fff;
    margin-top: -20px;
    margin-left: -20px;
}

.map_marker
{
    color: #fff;
    margin-top: -10px;
    /*margin-left: 100px;*/
    font-size:24px;
}