[class*="col"]
{
    border:1px solid red;
}


.foooter_block
{
  width: 100%;
}
.footer_hr
{
  width:80%;
}

.header_bg_color
{
    background: linear-gradient(#26AEC6, #2CC6A2);
    /*margin-bottom: 300px;*/
}

.sign_up_img
{
  margin-bottom: 100px;
  margin-top: 100px;
}
.all_rights_block
{
    /* margin-top: 100px;*/
    font-size: 12px;
}