/*[class*="col"]
{
    border:1px solid red;
}*/
body 
{
    font-family: Verdana, Tahoma, sans-serif;
    margin:0;
    padding: 0px;
}

  
.header_block
  {
     margin-top: 20px;
  }

  .foooter_block
  {
      width: 100%;
  }
  .footer_hr
  {
      width:80%;
  }
  .header_hr
  {
      width:80%;
  }

  .all_rights_block
  {
      margin-left: 180px;
      margin-top: 10px;
  }

.footer_logo
{
  border: thin solid black;
  margin-left: 150px;
  width:150px;
  height: 100px;

}
.header_logo
{
  border: thin solid black;
  width:150px;
  height: 100px;
  margin-left: 150px;
}
.header_bg_color
{
    background: linear-gradient(#26AEC6, #2CC6A2);
    /*margin-bottom: 300px;*/
}

.sign_up_img
{
  border: thin solid black;
  height: 100px;
  width: 100px;
  margin-bottom: 100px;
  background-color: #fff;
  margin-top: 100px;
}

.head_nav
{
    text-align:center;
    /*padding-left:30px;*/
    margin-left: 20px;
    padding-top:10px;
    color:#fff;
    background-color:#2CC6A2;
    border-radius:5px;
    height:50px;
    width:80px;
}

.head_nav:hover
{
    background-color:#26AEC6;
    color:#fff;
    text-decoration: underline;
}

 .foot_nav
{
   margin-top: 50px;
}


 img 
{
    width: 100%;
    height: auto;
}

/*nav bar code starts*/
 .topnav 
{
  overflow: hidden;
}

.topnav a
{
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    background-color: #2CC6A2;
}

.topnav a:hover
{
  background-color: #26AEC6;
  color: #fff;
}

.active
{
  background-color: #4CAF50;
  color: white;
}

.topnav .icon
{
  display: none;
}

@media screen and (max-width: 600px)
{
  .topnav a:not(:first-child) {display: none;
}
  .topnav a.icon
  {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px)
{
  .topnav.responsive {position: relative;
}
  .topnav.responsive .icon
  {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a 
 {
    float: none;
    display: block;
    text-align: left;
}

}
/*nav bar code ends*/