/*[class*="col"]
{
    border:1px solid red;
}*/

/*social media buttons code starts*/

 .fa
{
  padding: 20px;
  font-size: 30px;
  width: 400px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover
{
    opacity: 0.7;
}
.fa-facebook
{
  margin-top: 20px;
  background: #3B5998;
  color: white;
  border-radius: 8px;
  font-size: 20px;  
}
.fa-google
{
  margin-top: 70px;
  background: #dd4b39;
  color: white;
  border-radius: 8px;
  font-size: 20px;
}

/*social media buttons code ends*/
 .sign_in_text
{
    text-align: center;
    color: #26AEC6;
}
.already_acount_text
{
    text-align: center;
    color: #787878;
    margin-top: 50px;
}
 
.btnsign_up_style
{
    margin-top: 20px;
    background-color: #26AEC6;
    border: none;
    height: 65px;
    font-size: 20px;
    width: 400px;
    border-radius: 8px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    
}

.btnsign_up_style:hover
{
    background-color: #26AEC6;
    border: none;
}


 .logo_img
{
  height: 100px;
  width: 100px;
}